html {
    background-repeat: no-repeat;
    height: 100svh;
    
    --button-colorA: #44bb55;
    --button-colorB: #4455bb;
    --text-color-button:white;
    --text-color:#111;
    --bg-color:white;
    font-family: 'Courier New', Courier, monospace;
}


.main {
    width:70%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    /* max-width: 1000px; */
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 3rem;
    color:var(--text-color)
}

.carouselWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageCarousel {
    gap:1rem;
    display: flex;
    flex-direction: row;
    overflow:clip;
    justify-content: center;
    align-items: center;

}


.imageCarousel > img {
    height: 100%;
    display: none;
    position: relative;
    left: 0%;
}

.imageCarousel > img[active="true"]{
   display: block; 
}



.imageDots {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.imageDots > p{
    margin: 0 auto;
}
.imageDots > p[active="true"],.imageDots > p:hover {
    color: var(--button-colorB);
}
.imageDots > p:hover {
    cursor: pointer;
}

.download {
    text-decoration: none;
    background-color: var(--button-colorA);
    color: var(--text-color-button);
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    transition: 0.1s;
}
.download:hover,.download:focus {
    
    background-color: color-mix(in srgb, var(--button-colorA) 80%, black 20%)
}
.download:focus {
    outline: none;
}