html {
    background-repeat: no-repeat;
    height: 100svh;
    
    --button-colorA: #44bb55;
    --button-colorB: #4455bb;
    --text-color-button:white;
    --text-color:#111;
    --bg-color:white;
    font-family: 'Courier New', Courier, monospace;
}


.main {
    width:70%;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    margin: auto;
    max-width: 1000px;
    padding-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-size: 3rem;
    color:var(--text-color)
}

.imageCarousel {
    height: 20rem;
    width: 28rem;
    gap:1rem;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;


}

button[carouselButton] {
    font-size: 2rem;
    line-height: 2rem;

    transition: 0.1s;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--button-colorB);
    color: var(--text-color-button);
}
button[carouselButton]:hover,button[carouselButton]:focus {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--button-colorB) 80%, black 20%)
}
button[carouselButton]:focus {
    outline: none;
}
.imageCarousel > img {
    height: 100%;
}

.carouselWrapper {
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;

}

.download {
    text-decoration: none;
    background-color: var(--button-colorA);
    color: var(--text-color-button);
    padding: 1rem;
    width: fit-content;
    border-radius: 0.5rem;
    transition: 0.1s;
}
.download:hover,.download:focus {
    
    background-color: color-mix(in srgb, var(--button-colorA) 80%, black 20%)
}
.download:focus {
    outline: none;
}